body {
    margin: 0;
    font-family: 'Consolas', monospace; 
}

.container {
    display: flex;
    height: 100vh;
    background-color: #b3b3b3;
}

.sidebar {
    width: 4%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-top: 5px;  
}
.sidebar.active{
    width: 22%;
    background-color: #4a4a4a;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-top: 5px;
}

.icons {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 30px;
}

.icon {
    width: 60px;
    height: 30px;
    background-color: #4a4a4a;
    border: none;
    border-radius: 15px;
    color: #000;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recent-chats {
    margin-top: 20px;
    color: #ffffff;
    margin-left: 5px;
}

.main {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    position: relative;
}

.chat-area {
    flex-grow: 1;
    background-color: #b3b3b3;
}

.input-area {
    display: flex;
    align-items: center;
    background-color: #000;
    padding: 12px;
    border-radius: 20px;
    margin-right: 180px;
    margin-left:180px; 
}

input[type="text"] {
    flex-grow: 1;
    border: none;
    background-color: #b3b3b3;
    padding: 12px;
    border-radius: 20px;
    margin-right: 12px;
    margin-left: 10px;
}

.send-button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.send-icon {

    width: 35px;
    height: 35px;
}
.agregar-button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.agregar-icon{
    width: 30px;
    height: 30px;
}

.menu-icon {
    width: 50px;
    height: 50px;
}

.search-icon {
    width: 50px;
    height: 50px;
}

.compose-icon {
    width: 55px;
    height: 55px;
}

.menu-items {
    display: none;
}


.sidebar.active .menu-items {
    display: flex; 
    flex-direction: column;
    gap: 30px; 
    background-color: transparent;
}

.hamburger-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; 
}
.send-icon {
    background-color: #000;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
}

.send-icon:active img {
    opacity: 0.1; 
    transition: opacity 0.3s ease;
}

.agregar-icon {
    background-color: #000;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
}

.agregar-icon:active img {
    opacity: 0.1; 
    transition: opacity 0.3s ease;
}
.hamburger-btn {
    position: relative;
    overflow: hidden;
    background-color:transparent;
    color: white;
    border: none;
    padding: 0px 7px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out; 
  }
  
  .hamburger-btn:hover {
    transform: scale(1.2); 
  }

.hamburger-btn:active::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: ripple 0.8s linear; 
  }
  