@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-color: black;
    color: #00ff00;
    font-family: 'Press Start 2P', cursive;
    overflow: hidden;
    margin: 0;
    padding: 0;

}
.container {
    display: flex;
    height: 100vh;
    background-color: transparent;
}


.menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background: transparent;
    color: #fff;
    overflow-y: auto;
    transition: 0.3s;
    padding-top: 50px;
  }

  .menu a {
    color: #fff;
    padding: 10px 20px;
    display: block;
    text-decoration: none;
  }

  .menu a:hover {
    background: #575757;
  }

  .menu-header {
    padding: 15px 20px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid #444;
  }

  .toggle-menu {
    position: fixed;
    top: 3px;
    left: 3px;
    font-size: 35px;
    background: transparent;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 100;
  }

  .menu.open {
    left: 0;
  }

 

  .menu.open ~ .chat-container {
    margin-left: 250px;
  }
.matrix-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: -1;
    overflow: hidden;
}

.chat-container {
    margin-left: 0;
    flex-grow: 1;
    transition: 0.3s;
    padding: 20px;
    width: 90%;
    margin: 50px auto;
    max-width: 1050px;
    padding: 20px;
    border: 4px solid #00ff00;
    background-color: #000;
}

.chat-header {
    text-align: center;
    font-size: 1.2rem;
}

.chat-box {
    height: 400px;
    overflow-y: auto;
    padding: 10px;
    border: 2px solid #00ff00;
    background: black;
}

.input-area {
    display: flex;
    margin-top: 10px;
}

#chat-input {
    flex: 1;
    padding: 10px;
    font-family: 'Press Start 2P', cursive;
    border: 2px solid #00ff00;
    background: black;
    color: #00ff00;
}

#send-btn {
    background: black;
    color: #00ff00;
    border: 2px solid #00ff00;
    padding: 10px;
    cursor: pointer;
}
.sidebar.active .menu {
    display: flex; 
    flex-direction: column;
    gap: 30px; 
    background-color: transparent;
}